.counter
  The SSE has gone
  %span.count= distance_of_time_in_words_to_now( @last_time )
  without a yacht incident


.report
  =link_to "Report an incident", controller: "incidents", action: "new"

.incidents

  - @incidents.each do |incident|
    %article
      %time
        %span.time= @timezone.at(incident.created_at).strftime("%I:%M%p")
        %span.date= @timezone.at(incident.created_at).strftime("%A %d, %Y")
      .content  
        %p.description= incident.body
        - if !incident.name.blank?
          %p.offender 
            %b Offender
            = incident.name
