.counter
  The SSE has gone
  %span.count= distance_of_time_in_words_to_now( @last_time )
  without a yacht incident

.incidents

  - @incidents.each do |incident|
    %article
      %time
        %span.time= incident.created_at.strftime("%I:%M%p")
        %span.date= incident.created_at.strftime("%A %d, %Y")
      .content  
        %p.description= incident.body
        - if incident.name
          %p.offender 
            %b Offender
            = incident.name
