<h1>Listing incidents</h1>

<h2>It has been 
  <%= distance_of_time_in_words_to_now(@last_time) %>
</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Body</th>
    <th>Who</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @incidents.each do |incident| %>
  <tr>
    <td><%= incident.name %></td>
    <td><%= incident.body %></td>
    <td><%= incident.who %></td>
    <td><%= link_to 'Show', incident %></td>
    <td><%= link_to 'Edit', edit_incident_path(incident) %></td>
    <td><%= link_to 'Destroy', incident, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Incident', new_incident_path %>
