<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @incident.name %>
</p>

<p>
  <b>Body:</b>
  <%= @incident.body %>
</p>

<p>
  <b>Who:</b>
  <%= @incident.who %>
</p>


<%= link_to 'Edit', edit_incident_path(@incident) %> |
<%= link_to 'Back', incidents_path %>
